html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  width: 400px;
  color: white;
  text-align: center;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 50px;
  background-color: #283e50;
  margin-top: -10px;
  padding-top: 40px;
}

.firstPageImg {
  width: 400px;
  text-align: center;
  margin-top: 100px;
  border-radius: 10px 10px 0 0;
}

.firstPageText {
  text-align: center;
  width: 400px;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #283e50;
  padding: 40px 0px 40px 0px;
  margin-top: -35px;
  margin-bottom: 0px;
}

ol {
  background-color: #283e50;
  text-align: left;
  font-size: 14px;
}

.bodyRules {
  margin-top: 100px;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
}
.nadpisPravidla {
  border-radius: 10px 10px 0 0;
}

.vypisPravidel {
  padding-left: 25px;
  padding-right: 25px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px 0;
  display: block;
  margin: 0px;
}

.pravidla {
  background-color: #1fcca4;

  border-bottom: 1px solid #283e50;
}
.pravidla:hover {
  background-color: #1cbb96;
}

.hrat {
  background-color: #0197f6;
}
.hrat:hover {
  background-color: #0090e9;
}

.svg {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.figure_img {
  width: 100%;
}
.figure_text {
  font-size: 14px;
  font-style: italic;
}

@media (min-width: 540px) {
  .rulesBody {
    width: 500px;
  }
  .figure_all {
    display: flex;
    width: calc((100% - 20px) / 2);
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {
  .rulesBody {
    width: 800px;
  }
}
